<p>
  <strong>チーム名:</strong><br>
  <%= @team.name %>
</p>

<p>
  <strong>メンバー:</strong><br>
    <% @team_members.each do |member| %>
      <%= member.name %>  <%= link_to '詳細', users_show_path(id: member.id) %>
      <br>
    <% end %>
</p>

<p>
  <strong>チームのタスク:</strong><br>
    <% @team_members.each do |member| %>
      <%= member.name %>  <%= link_to '詳細', users_show_path(id: member.id) %>
      <br>
    <% end %>
</p>

  <% if @team_member.present? %>
    <%= link_to 'チームから外す', team_member_path(id: @team_member.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'チームに加える', team_members_path(team_id: @team.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<br><br>
<%= link_to 'チームの編集', edit_team_path(@team) %> |
<%= link_to '戻る', teams_path %>
