<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

    <div class= "top-content">
    <h1><span class="app-name">smooth</span> を使ってできること</h1>
    <p>smoothは、業務を円滑に行うためのタスク管理アプリです。<br>
    シンプルな機能で、誰でも簡単に利用することができます。</p>
    <br><br><br>

    <div class="btn-cover left-2">
        <div class="inner">
            <h3><span class="top-h">1.タスクを整理できる</span></h3>
            <p>頭の中だけでタスクを管理すると、優先順位に悩んでしまったり<br>
            失念してしまう危険性があります。<br>
            smoothを活用すれば、タスクの詳細や締め切りを簡単に管理できます。<br>
            また、締め切りが近いタスクは視覚的にハイライトされ<br>
            タスクの抜け漏れを防ぐことができます。</p>
        </div>
        <div><%= image_tag 'task.png', class:"top-img" %></div>
    </div>

    <div class="btn-cover right-2">
        <div><%= image_tag 'request.png', class:"top-img-2" %></div>
        <div class="inner-2">
            <h3><span class="top-h">2.タスクを申し送りできる</span></h3>
            <p>口頭やメモ書きでのタスクの申し送りにはリスクがあります。<br>
            smoothを活用すれば、タスクの内容や申し送り時のメッセージが<br>
            アプリ上で記録に残り、いつでも確認できます。<br>
            そのため、チームメイトに正確にタスクを申し送りすることができます。</p>
        </div>
    </div>

    <div class="btn-cover left-2">
        <div class="inner">
            <h3><span class="top-h">3.チームでタスクを共有できる</span></h3>
            <p>健全な業務運営には、仕事の進捗を共有することが大切です。<br>
            smoothを活用すれば、お互いの業務内容を把握して<br>
            業務の進捗状況をチーム全体でチェックすることが可能です。</p>
            <br>
        </div>
        <div><%= image_tag 'shere.png', class:"top-img" %></div>
    </div>

    </div>

<% end %>
