<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :詳細 %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :期日 %>
    <%= form.datetime_field :time_limit %>
  </div>

  <div class="field">
    <%= form.label :重要度 %>
    <%= form.select :importance, [["高", 1], ["中", "2"], ["低", "3"]], include_blank: "選択して下さい"  %>
  </div>

  <div class="field">
    <%= form.label :完了フラグ %>
    <%= form.check_box :completion_flag %>
  </div>

  <div class="field">
    <%= form.label :メモ %>
    <%= form.text_area :memo %>
  </div>

  <%= form.fields_for :requests do |request| %>
    <h2>申し送り事項 No.<%= request.index+1 %></h2>
    <%= request.label  :メッセージ %><br>
    <%= request.text_area :message %>
    <br>
    <br>
    <%= request.label :前任者 %><br>
    <%= request.text_field :predecessor_id %>
    <br>
    <br>
    <%= request.label :後任者 %><br>
    <%= request.text_field :successor_id %>
    <br>
    <br>
<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
