<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "") %>  個のエラーが発生しています::</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="btn-cover">
  <div class="task-form">
    <h1>タスク編集  </h1>
    <div class="field">
      <%= form.label :タイトル %>
      <%= form.text_field :title, placeholder: "タイトルを入力（30文字以内）"  %>
    </div>

    <div class="field">
      <%= form.label :詳細 %>
      <%= form.text_area :description, placeholder: "詳細を入力（300文字以内）"  %>
    </div>

    <div class="field">
      <%= form.label :期日 %>
      <%= form.datetime_field :time_limit  %>
    </div>

    <div class="field">
      <%= form.label :重要度 %>
      <%= form.select :importance, Task.importances.keys, include_blank: "選択して下さい"  %>
    </div>

      <div class="field">
        <%= form.label :チーム %>
        <%= form.collection_select(:team_id, @teams, :id, :name)  %>
      </div>

      <div class="field">
        <%= form.label :メモ %>
        <%= form.text_area :memo, placeholder: "メモを入力（200文字以内）"  %>
      </div>

      <div class="field">
        <%= form.label :↓完了したらチェック%>
        <%= form.check_box :completion_flag %>
      </div>
    </div>

    <div>
      <%= form.fields_for :requests do |request| %>
        <% if request.index+1==task.requests.length %>
          <h2>申し送り事項 （<%= request.index+1 %>回目）</h2>
          <%= request.label  :メッセージ %>
          <%= request.text_area :message, placeholder: "メッセージを入力（200文字以内）" %>
          <%= request.hidden_field(:user_id, :value => current_user.id ) %>
          <%= request.label :後任者 %>
          <%= request.collection_select(:successor_id, @users, :id, :name, include_blank: "選択して下さい" ) %>
          <br>
          <br>
        <% end %>
      <% end %>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
