<div class="main-content">

  <h1>タスク一覧</h1>
  <div class="btn-cover">
    <div class="search">
      <%= search_form_for @q, url: search_tasks_path do |f| %>
        <%= f.label :title_cont, '▽タスク名で検索' %>
        <%= f.search_field :title_cont, placeholder: "検索…" %>
        <%= f.submit '検索' %>
      <% end %>
    </div>

    <div class="search">
    <%= search_form_for @q, url: search_tasks_path do |f| %>
      <%= f.label :completion_flag, '▽状態で絞り込む' %>
      <%= f.radio_button :completion_flag_eq, 'true' %><span>完了</span>
      <%= f.radio_button :completion_flag_eq, 'false' %><span>未完了</span>
      <%= f.submit '絞り込む' %>
    <% end %>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>タイトル</th>
        <th>チーム</th>
        <th>担当者</th>
        <th><%= sort_link(@q, :time_limit, "期日") %></th>
        <th><%= sort_link(@q, :importance, "重要度") %></th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
    <% n = 0 %>
      <% @tasks.each do |task| %>
        <% if (task.completion_flag != true) && ((task.time_limit-@time).to_i < 87000) %>
          <tr  class="urgent">
        <% else %>
          <tr>
        <% end %>
          <div>
            <% if task.completion_flag == true %>
              <td class="completion done" >完　了</td>
            <% else %>
              <td class="completion">未完了</td>
            <% end %>
            <td class="index-title task_row" id="<%= "task_#{n}" %>"><%= task.title %></td>
            <td><%= task.team.name %></td>
            <td>
            <% if task.requests.length >0 %>
              <%=User.find(task.requests.last.successor_id).name %>
            <% else %>
              <%= task.user.name %>
            <% end %>
            </td>
              <% if (task.completion_flag != true) && ((task.time_limit-@time).to_i < 87000) %>
                <td class="urgent"  ><span class="urgent"><%= l task.time_limit %></span></td>
              <% else %>
                <td><%= l task.time_limit %></td>
              <% end %>
            </td>
            <td>
              <% if task.importance == "高" %>
                <span class="font high">
              <% elsif task.importance == "中" %>
                <span class="font normal">
              <% else %>
                <span class="font low">
              <% end %>
              <%= task.importance %>
              </span>
            </td>
            <td><%= button_to '詳細', task, method: :get, class: "btn mini-btn" %></td>
            <%if ((task.user.id == current_user.id) && (task.requests.length == 0 ))  || (task.requests.last&.successor_id == current_user.id)%>
              <td><%= button_to '編集', edit_task_path(task), method: :get, class: "btn mini-btn" %></td>
              <td><%= button_to '削除', task, method: :delete, data: { confirm: '削除してもよろしいですか?' }, class: "btn mini-btn" %></td>
            <% end %>
          </div>
        </tr>
        <% n += 1 %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @tasks %>

  <br>

<%# <%= button_to "タスクを登録する", {controller: "tasks", action: "new"}, {method: :get, class:"btn sign-btn " } %>
</div>
