<div class="main-content">
    <div class="btn-cover">
        <div>
            <h1><%= @user.name %>のページ</h1>
            <p>メールアドレス : <%= @user.email %></p>
        </div>
        <div>
            <%if @user.admin == true%>
                <%= button_to '管理者ページへ行く', rails_admin_path, method: :get, class: "btn admin-btn" %>
            <% end %>
        </div>
    </div>
    <br>

    <div class="btn-cover">
        <div class="team-show">
        <table>
            <thead>
                <h3>所属チーム</h3>
            </thead>
            <tbody>
                <% @teams.each do |team| %>
                    <tr>
                        <td><%= team.name %></td>
                        <td><%= button_to '詳細',  team_path(id: team.id),method: :get, class: "btn mini-btn" %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= paginate @teams %>
    </div>

        <div>
            <table>
                <thead>
                    <h3><%= @user.name %>のタスク一覧</h3>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>タイトル</th>
                        <th>チーム</th>
                        <th>期日</th>
                        <th>重要度</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>

                <tbody>
                    <% @user_tasks.each do |task| %>
                        <%# <% if ((task.user.id == @user.id) && (task.requests.length == 0 ))  || (task.requests.last&.successor_id == @user.id)%>
                            <% if (task.completion_flag != true) && ((task.time_limit-Time.now).to_i < 87000) %>
                                <tr  class="urgent">
                            <% else %>
                                <tr>
                            <% end %>
                            <div>
                            <% if task.requests.length != 0 %>
                                <td class="request"><span class="request">申送</span></td>
                            <% else %>
                                <td class="request"><span>        </span></td>
                            <% end %>
                            <% if task.completion_flag == true %>
                                <td class="completion done" >完　了</td>
                            <% else %>
                                <td class="completion">未完了</td>
                            <% end %>
                            <td><%= task.title %></td>
                            <td><%= task.team.name %></td>
                                <% if (task.completion_flag != true) && ((task.time_limit-Time.now).to_i < 87000) %>
                                    <td class="urgent"  ><span class="urgent"><%= l task.time_limit %></span></td>
                                <% else %>
                                    <td><%= l task.time_limit %></td>
                                <% end %>
                            <td>
                                <% if task.importance == "高" %>
                                    <span class="font high">
                                <% elsif task.importance == "中" %>
                                    <span class="font normal">
                                <% else %>
                                    <span class="font low">
                                <% end %>
                                <%= task.importance %>
                                </span>
                            </td>
                            <td><%= button_to '詳細', task, method: :get, class: "btn mini-btn" %></td>
                            <% if ((task.user.id == @user.id) && (task.requests.length == 0 ))  || (task.requests.last&.successor_id == @user.id)%>
                                <td><%= button_to '編集', edit_task_path(task), method: :get, class: "btn mini-btn" %></td>
                                <td><%= button_to '削除', task, method: :delete, data: { confirm: '削除してもよろしいですか?' }, class: "btn mini-btn" %></td>
                            <% end %>
                            </div>
                        </tr>
                        <% end %>
                    <%# <% end %>
                </tbody>
            </table>
            <%= paginate @user_tasks %>
        </div>
    </div>

</div>
