<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class= "sign-content">
  <div class="sub-content">
    <div class="field">
      <h3><%= f.label :email %></h3>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form", placeholder: "メールアドレスを入力" %>
    </div>

    <div class="field">
      <h3><%= f.label :password %></h3>
      <%= f.password_field :password, autocomplete: "current-password", class: "form", placeholder: "パスワードを入力" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field left">
        <%= f.check_box :remember_me  %>ログインを記憶する
        <%# <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="center">
      <div class="actions">
        <%= f.submit t('.sign_in'), class:"btn sign-btn", id: "login"  %>
      </div>
      <%# <%= render "devise/shared/links" %>
    </div>
    <br>
    <%= link_to '◎ゲスト（一般）ログイン', users_guest_sign_in_path, method: :post %><br>
        <%= link_to '◎ゲスト（管理者）ログイン', users_guest_admin_sign_in_path, method: :post %>
  </div>
</div>
<% end %>


