<!DOCTYPE html>
<html>
  <head>
    <title>Smooth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.png') %>
  </head>

  <header>
      <%= image_tag 'favicon.png', class:"img logo-img" %>
      <% if user_signed_in? %>
        <%= button_to "タスク登録", {controller: "tasks", action: "new"}, {method: :get, class:"btn btn-header" } %>
        <%= link_to (tasks_path) do %>
          <button class="btn btn-header">タスク一覧</button>
        <% end %>
        <%= link_to (users_show_path(id: current_user.id)) do %>
          <button class="btn btn-header">マイページ</button>
        <% end %>
        <%= link_to (destroy_user_session_path), method: :delete do %>
          <button class="btn btn-header">ログアウト</button>
        <% end %>
      <% else %>
        <%= link_to (new_user_registration_path) do %>
          <button class="btn btn-header">新規登録</button>
        <% end %>
        <%= link_to (new_user_session_path) do %>
          <button class="btn btn-header">ログイン</button>
        <% end %>
      <% end %>
    </header>

  <body>
    <% if user_signed_in? %>
      <p class="right"><%= current_user.name %>でログインしています</p>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
